@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.application{
  position: relative;
}

.app {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.app__container {
  max-width: 1238px;
  width: 100%;
  margin: 0 auto;
}

section {
  width: 100%;
  height: auto;
}

.app__overlay {
  background: rgba(57, 55, 72, 0.22);
  width: 100vw;
  height: 100vh;
  z-index: 10;
  position: fixed;
  top: 80px;
  left: 0;
}